$primary-color: #274a9d;
$secondary-color: #03c874;
$tertiary-color: #072876;
$quaternary-color: #d93025;

$background: #f8f8f8;
$background-secondary: #ffffff;
$background-tertiary: #fdf6f6;
$background-quaternary: #f6fafd;

$text-primary: #26324b;
$text-secondary: #7b828d;
$text-tertiary: #c27476;
$text-quaternary: #5b89c7;

$gray-100: #bfbfbf;

$border: #e5ebf1;
$border-blue: #1c3b85;
$border-light-blue: #eef1f7;
$border-light-red: #f7eeee;
