* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body,
input,
button,
select,
textarea {
  font-family: "Jost", sans-serif;
}
body {
  background: $background;
  font-size: 1.6rem;
}
a {
  text-decoration: none;
  color: $background-secondary;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 16.8rem auto;
}
.main {
  display: grid;
  grid-template-rows: 12.5rem auto;
  margin: 0 2rem;
}
#nprogress {
  .spinner-icon {
    display: none;
  }
}
.swal2-popup {
  font-size: 1.6rem !important;
}
::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: $gray-100;
  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  &:active {
    background: rgba(0, 0, 0, 0.9);
  }
}
