/* Common Styles */
.component {
  background: var(--background-secondary);
  border: 1px solid var(--border);
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.component h1 {
  color: var(--text-primary);
  margin: 3.4rem 4.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.9rem;
}

.component h2 {
  color: var(--text-primary);
  margin: 1.8rem 0;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.6rem;
}

.form {
  margin: 0 3.1rem 0 3.1rem;
}

.form__form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.8rem;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.component label {
  color: var(--text-secondary);
  display: block;
  margin-top: 1.8rem;
}

.component form div {
  width: 100%;
}

.component .input,
.component .input-date,
.component .select {
  color: var(--text-secondary);

  border: 1px solid var(--border);
  border-radius: 4px;
  outline: none;

  width: 100%;
  height: 3.8rem;
  
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.3rem;

  padding: 0 1.5rem;
}

.input:focus,
.input-date:focus,
.select:focus {
  box-shadow: inset 0 -3px 0 0px var(--secondary-color);
  transition: box-shadow 0.25s ease-out;
}


.input:not(:focus):not(:placeholder-shown):invalid,
.error-input {
  box-shadow: inset 0 -3px 0 0px var(--quaternary-color);
  transition: box-shadow 0.25s ease-out;
} 

.component .select {
  appearance: none;
  -webkit-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 1.5rem top 50%;
}

.component .save-button {
  background: var(--secondary-color);
  color: var(--background-secondary);

  font-weight: 700;
  font-size: 2rem;

  border-radius: 4px;
  border: none;

  width: calc(50% - 9px);
  height: 3.9rem;

  cursor: pointer;
}

.component .save-button:hover {
  filter: brightness(0.9);
}

.component .save-button--sale {
  width: calc(100% - 9px);
}

/* Sales and Clients Components Styles */
.component--background {
  background-color: var(--background);
  border: none;
}

.component__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.component__header h1 {
  margin-left: 0;
  font-size: 2.4rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.header__search-button {
  background: url(../images/search-icon.svg) no-repeat scroll 7px 7px;
  background-position: center;     
  background-position-x: calc(100% - 12px);
  background-color: var(--background-secondary);
  color: var(--text-secondary);

  font-size: 1.6rem;

  border: 1px solid var(--border);
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.9rem 1.8rem;

  width: 38.8rem;
  height: 4.1rem;
}

/* .component__table {
  width: 100%;
  overflow: auto;
} */

.component table {
  border-collapse: separate;
  border-spacing: 0 1.8rem;
  width: 100%;
}

.component table tr th {
  color: var(--text-secondary);

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.3rem;
  text-align: left;

  margin-bottom: 1.8rem;
}

.component table tr td {
  min-width: 20rem;
}

.component table td {
  background-color: var(--background-secondary);
  color: var(--text-primary);
  font-weight: 500;
  padding: 2.4rem 1.2rem;
}

.component .table--left-corner {
  border-radius: 5px 0 0 5px;
}

.component .table--right-corner {
  border-radius: 0 5px 5px 0;
}

.component .spacing {
  margin-bottom: 1.8rem;
}

.component table td button {
  border-radius: 5px;
  width: 7.5rem;
  height: 3.5rem;
}

.table__button {
  margin-right: 0.8rem;
  cursor: pointer;
}

.table__button--delete {
  background-color: var(--background-tertiary);
  color: var(--text-tertiary);
  border: 1px solid var(--border-light-red);

}

.table__button--edit {
  background-color: var(--background-quaternary);
  color: var(--text-quaternary);
  border: 1px solid var(--border-light-blue);
}

.table__button:hover {
  filter: brightness(0.9);
}

/* Clients Component Styles */
.save-button--client {
  margin-top: 2.6rem;
  margin-bottom: 10.2rem;
}

/* Sales Component Styles */
.add-items-button {
  background-color: var(--background-secondary);
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  border-radius: 4px;
  font-weight: 700;
  font-size: 2rem;
  
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(50% - 9px);
  height: 3.9rem;

  margin: 1.8rem 0 2rem 0;

  cursor: pointer;
}

.add-items-button:hover {
  filter: brightness(0.9);
}

.form__dashed {
  margin-top: 1.8rem;
  border-bottom: 1px dashed var(--border);
}

.footer {
  display: flex;
  align-items: center;
  margin: 2.6rem 0 1.6rem 0;
  width: 100%;
}

.footer__total-value {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.5rem;
}

@media only screen and (max-width:1366px) {
  /* Common Styles */
  .component h1 {
    margin: 3.4rem 4.1rem 0.8rem 4.1rem
  }

  .component h2 {
    margin: 0.9rem 0;
  }

  .component label {
    margin-top: 0.9rem;
  }

  .dashed {
    margin-top: 0.9rem;
  }

  .add-items-button {
    margin: 0.9rem 0 1.0rem 0;
  }

  .footer {
    margin: 1.3rem 0 0.8rem 0;
  }

  /* Sales and Clients Components Styles */
  .component table td {
    padding: 1.2rem 0.6rem;
  }
  
  .component table tr td {
    min-width: 0;
  }

  .component .header__title {
    margin-left: 0;
  }
}