@import "./variables.css";
@import "./elements.css";
@import "./components.css";
@import "./login.css";

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 16.8rem auto;
}

.menu {
  background-color: var(--primary-color);
  display: flex;
}

.menu__item--logo {
  width: 10.6rem;
  height: 2.4rem;

  position: absolute;
  top: 7.6rem;
  left: 3.5rem;
}

.menu__item {
  color: var(--background-secondary);

  width: 12.6rem;
  margin-bottom: 1.4rem;

  border: 1px solid var(--border-blue);
  border-radius: 4px;

  display: flex;
  align-items: center;

  position: absolute;
}

.menu__item span a {
  color: var(--background-secondary);
  text-decoration: none;
}

.menu__item:hover {
  background-color: var(--border-blue);
  filter: brightness(0.9);
}

.menu__item__icon {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.9rem 1.2rem;
}

.menu__item--dashboard {
  left: 1.75rem;
  top: calc(50% - 4.9rem);
}

.menu__item--customers {
  left: 1.75rem;
  top: 50%;
}

.menu__item--sales {
  left: 1.75rem;
  top: calc(50% + 4.9rem);
}

.main {
  display: grid;
  grid-template-rows: 12.5rem auto;
  margin: 0 2rem;
}

.header {
  border-bottom: 2px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__picture {
  width: 5.0rem;
  height: 5.0rem;
  /* border: 2px solid var(--border); */
  border-radius: 5px;
}

.profile {
  display: flex;
}

.profile__name {
  color: var(--text-primary);
  font-weight: 700;
  margin-left: 1.8rem;
}

.profile__name a {
  color: var(--gray-100);
  font-weight: 500;
  text-decoration: none;
}

.profile__name a:hover {
  filter: brightness(0.9);
}

.profile__button {
  background-color: var(--gray-100);
  color: var(--background-secondary);

  border-radius: 4px;
  width: 15.0rem;
  height: 5.0rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  font-weight: 700;
}

.profile__button--add {
  background-color: var(--secondary-color);
}

.profile__button--back:hover, .profile__button--add:hover {
  filter: brightness(0.9);
}

.profile__exit {
  display: none;
}

.content {
  margin: 4.9rem 0 auto 0;
}

.component__table-wrapper {
  height: calc(100vh - 27.3rem);
  overflow-y: auto;
}

.content__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content__heading h2 {
  font-size: 1.5em;
  font-weight: 500;
}

@media only screen and (max-width: 1080px) {
  .container {
    grid-template-columns: none;
    grid-template-rows: 1fr auto 6.5rem;
    grid-template-areas:
    "header"
    "content"
    "menu"
    ;
  }

  .header {
    grid-area: "header";
  }

  .profile__name a {
    display: none;
  }

  .profile__name span {
    font-weight: 400;
    display: block;
  }

  .profile__exit {
    position: absolute;
    top: 5.1rem;
    right: 3.6rem;
    display: inline;
  }

  .content {
    grid-area: "content";
  }

  .menu {
    grid-area: "menu";

    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .menu__item {
    position: static; 
    height: 4.5rem;
    border: none;
    font-size: 1.4rem;
    margin-bottom: 7px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .menu__item img {
    margin-bottom: 3px;
  }

  .menu__item--logo {
    display: none;
  }

  /* Sales and Clients Components Styles */
  .search {
    width: 19.4rem;
  }
}