@import "./variables.css";
@import "./elements.css";
@import "./components.css";
@import "./login.css";
@import "./dashboard.css";

.container {
  display: grid;
  grid-template-columns: 16.8rem auto;

  height: 100vh;
}

.menu {
  display: flex;

  background-color: var(--primary-color);
}

.menu__item--logo {
  position: absolute;
  top: 7.6rem;
  left: 3.5rem;

  width: 10.6rem;
  height: 2.4rem;
}

.menu__item {
  position: absolute;

  display: flex;
  align-items: center;

  margin-bottom: 1.4rem;
  border: 1px solid var(--border-blue);
  border-radius: 4px;
  width: 12.6rem;

  color: var(--background-secondary);
}

.menu__item span a {
  text-decoration: none;
  color: var(--background-secondary);
}

.menu__item:hover {
  filter: brightness(0.9);

  background-color: var(--border-blue);
}

.menu__item__icon {
  margin: 0.9rem 1.2rem;
  width: 1.6rem;
  height: 1.6rem;
}

.menu__item--dashboard {
  top: calc(50% - 4.9rem);
  left: 1.75rem;
}

.menu__item--customers {
  top: 50%;
  left: 1.75rem;
}

.menu__item--sales {
  top: calc(50% + 4.9rem);
  left: 1.75rem;
}

.main {
  display: grid;
  grid-template-rows: 12.5rem auto;

  margin: 0 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid var(--border);
}

.profile__picture {
  border: 2px solid var(--border);
  border-radius: 5px;
  width: 5rem;
  height: 5rem;
}

.profile__picture img {
  width: 4.8rem;
  height: 4.6rem;

  object-fit: contain;
}

.profile {
  display: flex;
}

.profile__name {
  margin-left: 1.8rem;

  font-weight: 700;
  color: var(--text-primary);
}

.profile__name a {
  font-weight: 500;
  text-decoration: none;
  color: var(--gray-100);

  cursor: pointer;
}

.profile__name a:hover {
  filter: brightness(0.9);
}

.profile__button {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  width: 15rem;
  height: 5rem;

  background-color: var(--gray-100);

  font-size: 2rem;
  font-weight: 700;
  color: var(--background-secondary);
}

.profile__button--add {
  background-color: var(--secondary-color);
}

.profile__button--back:hover,
.profile__button--add:hover {
  filter: brightness(0.9);
}

.profile__exit {
  display: none;
}

.content {
  margin: 2.3rem 0 auto 0;
}

.component__table-wrapper {
  overflow-y: auto;

  height: calc(100vh - 27.3rem);
}

.content__heading {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  text-align: center;
}

.content__heading h2 {
  font-size: 1.5em;
  font-weight: 500;
}

@media only screen and (max-width: 1080px) {
  .container {
    grid-template-columns: none;
    grid-template-rows: 1fr auto 6.5rem;
    grid-template-areas:
      "header"
      "content"
      "menu";
  }

  .header {
    grid-area: "header";
  }

  .profile__exit {
    position: absolute;
    top: 5.1rem;
    right: 3.6rem;

    display: inline;
  }

  .content {
    grid-area: "content";
  }

  .menu {
    position: fixed;
    bottom: 0;

    grid-area: "menu";

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    padding: 1.5rem;
  }

  .menu__item {
    position: static;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 7px;
    height: 4.5rem;
    border: none;

    font-size: 1.4rem;
  }

  .menu__item img {
    margin-bottom: 3px;
  }

  .menu__item--logo {
    display: none;
  }

  /* Sales and Clients Components Styles */
  .search {
    width: 19.4rem;
  }
}
