/* Common Styles */
.component-container {
  background: var(--background-secondary);
  border: 1px solid #E5EBF1;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.component-container h1 {
  color: var(--text-primary);
  margin: 34px 41px;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
}

.component-container h2 {
  color: var(--text-primary);
  margin: 18px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.component-container form {
  margin: 0 49px 0 31px;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.component-container label {
  color: var(--text-secondary);
  display: block;
  margin-top: 18px;
}

.component-container form div {
  width: 100%;
}

.component-container .input,
.component-container .select {
  border: 1px solid #E5EBF1;
  border-radius: 4px;
  width: 100%;
  height: 38px;
  padding: 0 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: var(--text-secondary);
}

.component-container .select {
  appearance: none;
  -webkit-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}

.component-container .save {
  background: var(--secondary-color);
  color: var(--background-secondary);

  font-weight: 700;
  font-size: 20px;

  border-radius: 4px;
  border: none;

  width: calc(50% - 9px);
  height: 39px;
}

.component-container .save:hover {
  filter: brightness(0.9);
}

.component-container .save-sale {
  width: calc(100% - 9px);
}

/* Sales and Clients Components Styles */
.list-background {
  background-color: var(--background);
  border: none;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-header h1 {
  margin-left: 0;
  font-size: 24px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.search {
  background: url(../images/search-icon.svg) no-repeat scroll 7px 7px;
  background-position: center;     
  background-position-x: calc(100% - 12px);
  background-color: var(--background-secondary);
  color: var(--text-secondary);

  font-size: 16px;

  border: 1px solid #E5EBF1;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 9px 18px;

  width: 388px;
  height: 41px;
}

/* .table-container {
  width: 100%;
  overflow: auto;
} */

.component-container table {
  border-collapse: separate;
  border-spacing: 0 18px;
  width: 100%;
}

.component-container table tr th {
  color: var(--text-secondary);

  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: left;

  margin-bottom: 18px;
}

.component-container table tr td {
  min-width: 200px;
}

.component-container table td {
  background-color: var(--background-secondary);
  color: var(--text-primary);
  font-weight: 500;
  padding: 24px 12px;
}

.component-container .left-corner {
  border-radius: 5px 0 0 5px;
}

.component-container .right-corner {
  border-radius: 0 5px 5px 0;
}

.component-container .spacing {
  margin-bottom: 18px;
}

.component-container table td button {
  border-radius: 5px;
  width: 75px;
  height: 35px;
}

.component-container .delete {
  background-color: var(--background-tertiary);
  color: var(--text-tertiary);
  border: 1px solid var(--border-light-red);
  margin-right: 8px;
}

.component-container .edit {
  background-color: var(--background-quaternary);
  color: var(--text-quaternary);
  border: 1px solid var(--border-light-blue);
}

.edit:hover, .delete:hover {
  filter: brightness(0.9);
}

/* Clients Component Styles */
.save-clients {
  margin-top: 26px;
  margin-bottom: 102px;
}

/* Sales Component Styles */
.plus-items {
  background-color: var(--background-secondary);
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(50% - 9px);
  height: 39px;

  margin: 18px 0 20px 0;
}

.plus-items:hover {
  filter: brightness(0.9);
}

.dashed {
  margin-top: 18px;
  border-bottom: 1px dashed #E5EBF1;
}

.footer {
  display: flex;
  align-items: center;
  margin: 26px 0 16px 0;
  width: 100%;
}

.total-value {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
}

@media only screen and (max-width:1366px) {
  /* Common Styles */
  .component-container h1 {
    margin: 34px 41px 8px 41px
  }

  .component-container h2 {
    margin: 9px 0;
  }

  .component-container label {
    margin-top: 9px;
  }

  .dashed {
    margin-top: 9px;
  }

  .plus-items {
    margin: 9px 0 10px 0;
  }

  .footer {
    margin: 13px 0 8px 0;
  }

  /* Sales and Clients Components Styles */
  .component-container table td {
    padding: 12px 6px;
  }
  
  .component-container table tr td {
    min-width: 0;
  }

  .component-container .list-title {
    margin-left: 0;
  }
}