* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button, select, textarea {
  font-family: 'Jost', sans-serif;
}

body {
  background: var(--background);
}

a {
  text-decoration: none;
  color: var(--background-secondary);
}