* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, input, button, select, textarea {
  font-family: 'Jost', sans-serif;
}

body {
  background: var(--background);
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: var(--background-secondary);
}