:root {
  --primary-color: #274A9D;
  --secondary-color: #03C874;
  --tertiary-color: #072876;

  --background: #F8F8F8;
  --background-secondary: #FFFFFF;
  --background-tertiary: #FDF6F6;
  --background-quaternary: #F6FAFD;

  --text-primary: #26324B;
  --text-secondary: #7B828D;
  --text-tertiary: #C27476;
  --text-quaternary: #5B89C7;

  --gray-100: #BFBFBF;
  
  --border: #E5EBF1;
  --border-blue: #1C3B85;
  --border-light-blue: #EEF1F7;
  --border-light-red: #F7EEEE;
}