@import "@/assets/css/base.css";
@import "@/assets/css/component.css";
@import "@/assets/css/paginator.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
input,
button,
select,
textarea {
  font-family: "Jost", sans-serif;
}

body {
  background: var(--background);
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: var(--background-secondary);
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 16.8rem auto;
}

.main {
  display: grid;
  grid-template-rows: 12.5rem auto;
  margin: 0 2rem;
}

#nprogress .spinner-icon {
  display: none;
}

.swal2-popup {
  font-size: 1.6rem !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--gray-100);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}
