.p-component {
  font-family: "Jost", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
}

.p-link {
  font-family: "Jost", sans-serif;
  font-size: 1.6rem;
}

.p-paginator {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  background: var(--background);

  color: var(--text-secondary);
}

.p-paginator-current {
  position: absolute;
  left: 18.2rem;
}

.p-datatable .p-datatable-thead > tr > th {
  border: none;
  font-weight: normal;
  color: var(--text-secondary);
}

.p-dropdown-label {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0.15rem;

  font-size: 1.6rem;
}
